@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic&subset=latin,greek,greek-ext,cyrillic-ext,latin-ext,cyrillic');

body {
    background-color: #e9e9e9;
}

#group_create input[type=text] {
    padding: 0.6em !important;
}

#debugmenu {
    display: none;
}

#pad-page-footer-spikeekips {
    width: auto;
    clear: both;
    border-top: 1px dotted #ccc;
    padding: 10px 2px;
    margin: 0px auto 0 auto;
    font-size: 13px;
    color: #888;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}

#pad-page-footer {
    width: auto;
    clear: both;
    border-top: none;
    padding: 10px 2px;
    margin: 0px auto 0 auto;
    font-size: 13px;
    color: #888;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}

#pad-page-footer-spikeekips a:link, #pad-page-footer-spikeekips a:visited {
    color: #888;
    text-decoration: underline;
}

#account {
    position: fixed;
    width: 100%;
    top: auto;
    bottom: 1em;
}

#account-dropdown .hp-ui-button-menu-wrapper {
    display: block;
    position: static;
}

#account-dropdown.hp-ui-button-menu ul {
    position: static;
    top: 13px;
    left: -8px;
    padding: 5px 0;
    z-index: 2147483647;
    list-style: none;
    background-color: transparent;
    text-align: left;
    text-transform: none;
    overflow: auto;
    border-radius: 0;
    box-shadow: none;
}

#account-dropdown {
    width: 100%;
    padding-right: 1em;
    box-sizing: border-box;
}

#account-dropdown > a.hp-ui-button-content,
#account-dropdown > img.hp-ui-button-arrow {
    display: none;
}

#faccountnav {
    margin-left: 0;
    height: auto;
}

#account-dropdown .hp-ui-button-list-ul li:first-child {
    text-align: left;
}

#account-dropdown .profile-pic {
    margin-right: 0.6em;
}

#account-dropdown .hp-ui-button-list-ul li:nth-child(3) {
    display: none;
}

#otheruserstable,
#otheruserstable.open {
    display: block !important;
    overflow: visible;
    width: 100%;
    position: static;
    top: 0;
    z-index: 1;
    min-height: 200px;
    max-height: 300px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 0;
    border: 0;
}

#otheruserstable.open figcaption {
    color: inherit;
}

#otheruserstable.open li:hover {
    background-color: inherit;
}

#otheruserstable figcaption {
    color: inherit;
}
#otheruserstable figcaption {
    display: block;
    width: 108px;
}

#otheruserstable-wrapper.open:before {
    content: none;
}

#otherusers-facepile-wrapper {
    display: none;
}

@media (max-width: 1400px) {
div.ace-line {
    font-size: 14px;
    line-height: 1.2em;
}
}

#editor {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 14px;
}

#editor>div:first-child span {
    font-size: 2.2em;
    font-family: 'Ubuntu Mono', monospace !important;
}

.dataTable {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 14px;
}

.dataTable th,
.dataTable td {
    padding: 0.6em;
    height: auto;
}

textarea.handsontableInput {
    font-size: 0.95em;
}

ul.list-code, ul.list-code1 {
    font-size: 0.85em;
}

.code {
    font-size: 13px;
}

ul.listtype-hone {
    margin-bottom: 0;
    border-bottom: none;
}

ul.listtype-hone li {
    font-size: inherit;
}

ul.listtype-hone li span {
    font-size: 1.6em;
}

ul.listtype-htwo li span {
    font-size: 1.2em;
}

ul.listtype-hthree li span {
    font-size: 1.0em;
}

#hp-editor-headings:hover, #hp-editor-headings:active, #hp-editor-headings.hp-ui-button-active {
    background-image: none;
}

#editor ul.listtype-hone li:hover,
#editor ul.listtype-htwo li:hover,
#editor ul.listtype-hthree li:hover {
    background-position: 0px 8px;
}

.segment-wrapper > * {
    zoom: 0.8;
}

#sidedivinner div {
    min-width: 4em;
}

#sidediv div {
    left: -1.8em;
    line-height: 1.8em;
}

#sidedivinner > div > a.lang-menu {
    position: absolute;
    right: 0.3em;
}

#sidedivinner {
    line-height: 1.2em;
}

ul.listtype-task li:before {
    line-height: 0.8em;
}

.ace-line ul {
    margin-left: 0;
}

#editor ul.listtype-hone,
#editor ul.listtype-htwo,
#editor ul.listtype-hthree {
    padding: 2.2em 0 0.3em 0;
}

ul.listindent1, ol.listindent1 {margin-left:    0em; }
ul.listindent2, ol.listindent2 {margin-left:  1.5em; }
ul.listindent3, ol.listindent3 {margin-left:  3.0em; }
ul.listindent4, ol.listindent4 {margin-left:  4.5em; }
ul.listindent5, ol.listindent5 {margin-left:  6.0em; }
ul.listindent6, ol.listindent6 {margin-left:  7.5em; }
ul.listindent7, ol.listindent7 {margin-left:  9.0em; }
ul.listindent8, ol.listindent8 {margin-left: 10.5em; }

.hp-profile-photo {
    float: right;
    max-width: 70%;
    max-height: 70%;
    min-width: 100px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 0.1em;
}
